h1 {
    color: rgb(197, 22, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.sasuke {
        font-size:70px;
        font-family: fantasy;
        margin-top: 0%;
        }
.bgimage {
            background-image: url(images/images.jpeg);
            background-size: cover;
            background-position: center center;
            overflow-x: hidden;
            height: 70%;
                }  
header {
            height: 0%;
            padding-bottom: 0;
            margin-left: 0%;
            margin-right: 0%;
            width: 200px;
            background-color: black;
        }  
          